body, html {
  margin: 0;
  padding: 0;
}

.banner {
  position: relative;
  width: 100%;
  height: 400px; /* Altura do banner, ajuste conforme necessário */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo do banner com transparência */
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner img {
  width: 100%;
  height: auto;
}

.menu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center; /* Centralizar o menu */
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu ul li {
  margin-right: 20px;
}

.menu ul li:last-child {
  margin-right: 0;
}

.menu ul li a {
  text-decoration: none;
  color: #45FF36; /* Cor do texto */
  font-size: 30px; /* Tamanho da fonte aumentado em 50% */
  font-weight: bold; /* Texto em negrito */
  font-family: Arial Black, Arial, sans-serif; /* Fonte Arial Black */
}

body {
  background-color: #0D1117; /* Cor de fundo para todas as páginas */
  color: #FFFFFF; /* Cor do texto em branco */
}

.motivacao {
  padding: 50px 0;
}

.motivacao .container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.motivacao h2 {
  font-size: 36px;
  margin-bottom: 20px;
}
