/* Reset CSS */
body, html {
  margin: 0;
  padding: 0;
}

/* Estilos do banner */
.banner {
  position: relative;
  width: 100%;
  height: 400px; /* Altura do banner, ajuste conforme necessário */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo do banner com transparência */
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta a imagem para cobrir todo o contêiner */
}

.menu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center; /* Centralizar o menu */
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu ul li {
  margin-right: 20px;
}

.menu ul li:last-child {
  margin-right: 0;
}

.menu ul li a {
  text-decoration: none;
  color: #45FF36; /* Cor do texto */
  font-size: 35px; /* Tamanho da fonte aumentado em 50% */
  font-weight: bold; /* Texto em negrito */
  font-family: Arial Black, Arial, sans-serif; /* Fonte Arial Black */
}

/* Estilos da seção de motivação */
.motivacao {
  padding: 50px 0;
  background-color: #171717; /* Fundo escuro */
  color: #FFFFFF; /* Cor do texto branco */
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.motivacao h2 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center; /* Título centralizado */
}

.motivacao p {
  font-size: 20px; /* Tamanho da fonte aumentado */
  text-align: justify; /* Texto justificado */
}

/* Estilos para o botão do WhatsApp */
.whatsapp-btn {
  display: flex;
  justify-content: center; /* Centraliza o botão horizontalmente */
  margin-top: 20px;
}

.whatsapp-btn img {
  width: 240px; /* Aumenta a largura da imagem em 40% */
  height: auto;
}

/* Estilos para a versão mobile */
@media screen and (max-width: 600px) {
  .banner {
    height: 200px; /* Reduz a altura do banner */
  }

  .menu {
    display: none; /* Esconde o menu horizontal */
  }

  .menu-mobile {
    display: block; /* Exibe o menu de gaveta */
    text-align: center;
    margin-top: 20px;
  }

  .menu-mobile ul li {
    margin-bottom: 10px; /* Adiciona espaçamento entre os itens do menu */
  }

   /* Estilos para o botão do WhatsApp */
.whatsapp-btn {
  display: flex;
  justify-content: center; /* Centraliza o botão horizontalmente */
  margin-top: 20px;
}

.whatsapp-btn img {
  width: 240px; /* Aumenta a largura da imagem em 40% */
  height: auto;
}
